@import url("//fonts.googleapis.com/css?family=Lato");
* {
  font-family: 'Lato'!important;
  color: #555555;
}
element.style {
}
pre, code {
    font-family: cutive mono,monospace;
    color: #c7254e;
    background-color: #f9f2f4;
}
code {
    font-size: 87.5%;
    color: #e83e8c;
    word-wrap: break-word;
}
pre, code, kbd, samp {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,liberation mono,courier new,monospace;
    font-size: 1em;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
code {
    font-family: monospace;
}
user agent stylesheet
li {
    text-align: -webkit-match-parent;
}
Style Attribute {
    list-style-type: decimal;
}
user agent stylesheet
ol {
    list-style-type: decimal;
}
body {
    
    font-size: 14pt; 
    font-family: inherit;
    font-size: 1rem;
    line-height: inherit;
    color: inherit;
    background-color: #fcfcfc;
    margin-top: 70px;
    padding-top: 0;
    counter-reset: captions;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fcfcfc;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #575757;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
@media screen and (min-width: 58em)
html {
    font-size: 21px;
}
html {
    font-family: raleway,sans-serif;
    font-size: 16.17px;
    color: rgba(0,0,0,.8);
    line-height: 1.65;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
*, *::before, *::after {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}
background-color:rgb(249, 242, 244);
box-sizing:border-box;
color:rgb(199, 37, 78);
display:inline;
font-family:"cutive mono", monospace;
font-size:18.375px;
font-weight:400;
height:auto;
line-height:30.3188px;
